*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

obj/*
TrapContext/obj/*
TrapContext/bin/*
TrapContext/.vs/*
TrapContext/Extencoes/.vs/*
TrapContext/.vs/TrapContext/v16/*
TrapContext/.vs/TrapContext/v16*
TrapContext/TrapContext/bin*
TrapContext/TrapContext/bin/*
TrapContext/TrapContext/obj/*
TrapContext/TrapContext/obj*
TrapContext/TrapContext/Extencoes/bin/*
TrapContext/TrapContext/Extencoes/bin*
TrapContext/TrapContext/Extencoes/obj/*
TrapContext/TrapContext/Extencoes/obj*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


.vs/
/Binarios
